cache my-cache
    total-max-size 1024                 # 1GB total cache
    max-object-size 524288              # 512KB max object size
    max-age 3600                        # 1 hour
    process-vary on

