frontend http
    bind            ${HAPROXY_BIND_IP}:80
    mode            http
    log             global
    option          httplog

    # Define a simple stick table to track domains
    stick-table type string len 100 size 100k expire 300s store http_req_cnt,gpc0

    # Define ACL for ACME challenges
    acl is_acme_challenge path_beg /.well-known/acme-challenge/

    # Only return responses for domains that were tracked in the stick table
    # This is checked in a separate script that adds the domains when acme.sh runs
    acl valid_acme_domain req.hdr(host),field(2,.),table_http_req_cnt(http) gt 0
    acl valid_acme_sub_domain req.hdr(host),table_http_req_cnt(http) gt 0

    # Fallback to the old method if needed
    http-request return status 200 content-type text/plain lf-string "%[path,field(-1,/)].${ACCOUNT_THUMBPRINT}\n" if is_acme_challenge valid_acme_sub_domain
    http-request return status 200 content-type text/plain lf-string "%[path,field(-1,/)].${ACCOUNT_THUMBPRINT}\n" if is_acme_challenge valid_acme_domain
    ${MIXED_MODE_404_RESPONSE}
    http-request set-var(txn.real_ip) req.hdr(X-Forwarded-For) if { req.hdr(X-Forwarded-For) -m found }
    http-request set-var(txn.real_ip) src if !{ req.hdr(X-Forwarded-For) -m found }

    # Proxy headers
    http-request set-header X-Forwarded-Proto http if !is_acme_challenge !{ req.hdr(X-Forwarded-Proto) -m found }
    http-request add-header X-Forwarded-For %[var(txn.real_ip)] if !is_acme_challenge !{ req.hdr(X-Forwarded-For) -m found }
    http-request set-header X-Real-IP %[var(txn.real_ip)] if !is_acme_challenge !{ req.hdr(X-Real-IP) -m found }

    # Only redirect non-ACME traffic to HTTPS
    http-request redirect scheme https if !is_acme_challenge

    # Placed by yaml frontend http:
    # [HTTP-FRONTEND PLACEHOLDER]

