frontend https-offloading
    bind            ${PRIMARY_BIND} ssl crt /etc/haproxy/certs/ strict-sni alpn h2
    bind            quic4@${HAPROXY_BIND_IP}:${QUIC_BIND_PORT} ssl crt /etc/haproxy/certs/ alpn h3
    mode            http
    log             global
    option          http-keep-alive
    option          httplog

    # Add proxy protocol handling
    declare capture request len 40
    http-request capture req.hdr(X-Forwarded-For) id 0

    http-request    set-var(txn.txnhost) hdr(host)

    # Proxy headers
    http-request set-header X-Forwarded-Proto https if { ssl_fc } !{ req.hdr(X-Forwarded-Proto) -m found }
    http-request add-header X-Forwarded-For %[src] if { ssl_fc } !{ req.hdr(X-Forwarded-Proto) -m found }

    # Remove server information headers
    http-response del-header ^Server:.*$
    http-response del-header ^X-Powered.*$

    # Security headers
    http-response set-header X-Frame-Options sameorigin
    http-response set-header Strict-Transport-Security "max-age=63072000"
    http-response set-header X-XSS-Protection "1; mode=block"
    http-response set-header X-Content-Type-Options nosniff
    http-response set-header Referrer-Policy no-referrer-when-downgrade

    http-response set-header alt-svc "${ALT_SVC}"

    # Compression controls
    acl compressed_file path_end .gz .br .zip .png .jpg .jpeg .gif .webp .webm
    acl has_content_encoding hdr(Content-Encoding) -m found
    acl accept_encoding hdr(Accept-Encoding) -m found

    # Compression monitoring headers
    http-response set-header X-Compressed true if { res.comp }
    http-response del-header X-Compressed if !{ res.comp }
    http-response set-header Vary Accept-Encoding

    compression offload

    # Placed by yaml domain_mappings
    # [HTTPS-FRONTEND-OFFLOADING USE_BACKEND PLACEHOLDER]
    # Placed by yaml frontend https-offloading:
    # [HTTPS-FRONTEND-OFFLOADING PLACEHOLDER]

